.location {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.card {
  margin: 20px;
  text-align: left;
  border: none;
  border-radius: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2),
    /* Light shadow */ 0 6px 20px rgba(0, 0, 0, 0.1); /* Stronger shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on hover */
}

.card-body {
  padding: 20px 30px;
}

.card-text {
  text-align: justify;
  line-height: 1.2em;
}

/* Optional: Add hover effect to make it pop more when hovered */
.card:hover {
  transform: translateY(-5px); /* Slightly lift the card on hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3),
    /* Stronger shadow */ 0 8px 30px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
}

.card-img-top {
  border-radius: 0px;
  opacity: 0.9;
}

.fas.fa-arrow-right {
  margin-left: 5px;
}
