.stay {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  p{
    text-align: left;
  }

  ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    text-align: left;
  }
}

.stay-span{
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bold; 
    color: #52604b;
}

.stay-link {
    color: #52604b;
}
  
 

